<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.marry.dao.RealPhotoMapper">
	<update id="updateByPrimaryKey" parameterType="RealPhoto">
    update real_photo  set 
    <if test="realname!=null">
   		realname = #{realname},
   	</if>
   	<if test="realdesc!=null">
   		 realdesc = #{realdesc},
   	</if>
   	<if test="realimg">
   		realimg = #{realimg},
   	</if>
    	modifyBy=#{modifyBy} where rid = #{rid}
	</update>
	
</mapper>